<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Price List</title>
</head>
<body>

<form action="/second/total" autocomplete="off">
    <label for="mobiles">MOBILES:</label>
    <input type="text" id="mobiles" name="mobiles" placeholder="Mobiles...."><br><br>
    LAPTOP:<input type="text" id="laptop" name="laptop" placeholder="laptop...."><br><br>
    KEYBOARD:<input type="text" id="keyboard" name="keyboard" placeholder="keyboard...."><br><br>
    PENDRIVE:<input type="text" id="pendrive" name="pendrive" placeholder="pendrive...."><br><br>
    MOUSE<input type="text" id="mouse" name="mouse" placeholder="mouse...."><br><br>
   <input type="submit" value="Enter">

</form>
</body>
</html>